@charset "utf-8";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li{
  list-style: none;
}

a{
  text-decoration: none;
  color: inherit;
}

img{
  vertical-align: top;
  max-width: 100%;
}
button{
  cursor: pointer;
}

body{
  background: #369;
  color: #333;
}

#여기까지 기본 

 .inner{
  width: 200px;
  margin: auto;
 }
header{
  position: relative;
  height: 100px;
  background-color: white;
  padding-top: 35px;
  padding-left: 10px;
}
nav{
  position: absolute;
  top: 40px;
  right: 10px;
  z-index: 10;
}
nav>ul{
  display: flex;
}
nav>ul>li>a{
  display: block;
  width: 120px;
  text-align: center;
  font-weight: bold;
  padding: 10px;
  background: #3d155f;
  color: #fff;
}
nav>ul>li:hover>a{
  background: green;
}

.sub li a{
  display: block;
  background: white;
  padding: 5px;
  text-align: center;
  font-size: 14px;
}

.sub li a:hover{
  background: black;
  color: white;
}

.sub{
  display: none;
}

.slide{
  height: 300px;
  overflow: hidden;
}
.slide ul{
  width: 3600px;
  height: 300px;
  display: flex;
}
.slide ul li{
  position: relative;
  width: 1200px;
  height: 300px;
}
 .slide ul li h2{
  background:rgba(61,21, 95,0.7);
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  border-radius: 50px;
  font-size: 28px;
  color: #fff;

 }

 .slide ul li h2 span{
  color: red;
 }
 .contents{
  height: 200px;
  display: flex;
  background: #ff884d;
}

.slide ul li a{
  display: block;
  height: 100%;
}

.slide ul li.s1{
  background: url(../images/s1.png)no-repeat center/cover;
}
.slide ul li.s2{
  background: url(../images/s1.png)no-repeat center/cover;
}
.slide ul li.s2{
  background: url(../images/s1.png)no-repeat center/cover;
}



.contents{
  height: 200px;
  display: flex;
  background:#ff884d;
}
.contents article{
  width: 400px;
}
.contents .gall{
  background: #00d2a5;
}
footer{
  height: 100px;
  background: #666;
}