@charset "UTF-8";

.inner{
  width: 1200px;
  margin: auto;
  display: flex;
  height: 800px;
}

header{
  width: 300px;
  background-color: red;
}
.con{
  width: 900px;
  background-color: blue;
}
section{
height: 300px;
  background-color: green;
}

.con1{
  height: 200px;
  background-color: yellow;
}
.con2{
  height: 200px;
  background-color: orange;
}

footer{
  height: 100px;
  background-color: bisque;
}