@charset "utf-8";
*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
}


.inner {
  width: 1200px;
  margin: auto;

  display: flex;
  height: 800px;
}


header{
width: 300px;
  background-color: orange;
}

.contents{
  width: 900px;
  background-color: #fc6;
}
section{
  height: 300px;
  background-color: pink;
}
.con1 {
  background-color: yellow;
  height: 200px;

}
.con2{
  height: 200px;
  background-color: green;
}
footer{
  height: 100px;
  background-color: black;
}
